[user]
  name = Shinichi Kawamura
  email = sttaf34@gmail.com

[alias]
  l = log --oneline
  ll = log --stat
  lll = log -p
  a = add
  st = status
  cm = commit
  cmm = commit -m 'Commit'
  df = diff
  co = checkout
  unstage = reset HEAD
  br = branch -v
  f = fetch
  tree = log --graph --pretty=format:'%x09%C(yellow)%h  %C(cyan)%ar %x09%C(magenta)%d%Creset %s'

[core]
  editor = code --wait

[push]
  default = current

[fetch]
  prune = true

[init]
  templatedir = ~/Projects/dotfiles/.git_template/
