[user]
  name = Shinichi Kawamura
  email = sttaf34@gmail.com

[alias]
  l = log --oneline --decorate --graph --date=format:'%Y/%m/%d %H:%M' --pretty='%C(cyan)%ad%C(auto) %h %s %d'
  ll = log --stat --decorate --date=format:'%Y/%m/%d' --pretty='%n- %C(cyan)%ad%C(auto) %h %s %d'
  a = add
  st = status
  cm = commit
  cmm = commit -m 'Commit'
  df = diff
  co = checkout
  unstage = reset HEAD
  br = branch -v
  f = fetch

[core]
  editor = code --wait

[push]
  default = current

[fetch]
  prune = true
