[user]
  name = Shinichi Kawamura
  email = sttaf34@gmail.com

[alias]
  l = log
  a = add
  st = status
  cm = commit
  cmm = commit -m 'Commit'
  df = diff
  co = checkout
  unstage = reset HEAD
  br = branch -v

[core]
  editor = code --wait

[push]
  default = current
